body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 5px;
    padding: 3px;
    min-height: 100vh;
}

/*header {
    background-color: #2f3b81;
    color: white;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}
*/
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    color: #1968df;
    box-shadow: 3px 3px 5px rgba(0, 0.1, 0.2, 0.4);
    

   
    padding: 20px 0;
    background: rgb(248, 244, 244);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.nav-bar {
    display: flex;
    align-items: center;
}
.nav-links{
    display: none;
}

.logo-area {
    display: flex;
    align-items: center;
}

.logo-area .logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.logo-area .log-cont h1 {
    margin: 0;
    font-size: 1.5rem;
}

.logo-area .log-cont p {
    margin: 0;
    font-size: 1rem;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
}

.menu ul li {
    display: inline;
}

.menu ul li a {
    color: #1968df;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-weight: bolder;
}

.menu ul li a:hover {
    background-color: #4a63ee;
    color: antiquewhite;
    cursor: pointer;
}

main{
    padding: 100px 20px 20px; /* Adjust padding to account for fixed header */
   

    
}
.menu-icon {
    display: none; /* Hide by default */
}

/* Show the menu icon on smaller screens */
@media (max-width: 768px) {
    .menu-icon {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }

    .menu-icon span {
        display: block;
        width: 100%;
        height: 4px;
        background-color: #000; /* Adjust color as needed */
    }

    .nav-links {
        display: none; /* Hide nav links by default on smaller screens */
    }

    .nav-links.open {
        display: block;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        gap: 100px;
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
    }
    .nav-links.open li a:hover{
        background-color: #00529b;
        color: whitesmoke;
        border-radius: 5px;
        padding-left: 10px 10px;
    }
    .nav-links{
        color: #1968df;
       
        border-radius: 5px;
        transition: background-color 0.3s;
        font-weight: bolder;
        list-style: none;
        
    }
    .nav-links li a{
        text-decoration: none;
        color: #1968df;
        padding: 5%;
       
    
    }
    .nav-links ul li a:hover {
        background-color: #4a63ee;
        color: antiquewhite;
        cursor: pointer;
    }
    
    

}

.welcome {
    
    padding: 20px;
    height: 60%;
    position: relative;
    height: 90vh;
    overflow: hidden;
}

.banner {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('banner1.jpg') no-repeat center center/cover;
    background-size: cover;
    background-position: center;
    animation: carousel 15s infinite;
}
.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.banner-text h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.banner-text p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    color: white;
    background-color: #1968df;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
}
.btn:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

/*section content*/
.container {
    max-width: 1200px;
    margin: 50px auto;
    padding: 0 20px;
}
.title{
    text-align: center;
    margin-bottom: 50px;
    background-color: #f8fdff;
    color: #00529b;
    font-weight: bolder;
    gap: 6px;
}

.features {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.feature-card {
    padding: 40px 20px;
    text-align: center;
    background-color: #f8fdff;
    border-radius: 10px;
    transition: transform 0.3s ease;
    box-shadow: 0 2px 10px rgba(0,0,0,0.4);
}

.feature-card {
    transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s;
}

.feature-card:hover {
    transform: translateY(-10px);
    color: violet;
    color: whitesmoke;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.icon {
    width: 60px;
    height: 60px;
    margin: 0 auto 20px;
}

.icon svg {
    width: 100%;
    height: 100%;
    fill: #00529b;
    color: #00529b;
}

.fa-solid {
    font-size: 60px;
    size: 200px;
    
}
.fontawes-icon {
    
    fill: #00529b;
    color: #00529b;
   
}

.active .icon svg {
    fill: white;
}

.feature-title {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #333;
}

.active .feature-title {
    color: white;
}

.feature-description {
    font-size: 0.9rem;
    line-height: 1.6;
    color: #666;
}

.active .feature-description {
    color: rgba(255, 255, 255, 0.9);
}

@media (max-width: 1024px) {
    .features {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 576px) {
    .features {
        grid-template-columns: 1fr;
    }
}


/* Footer */
.footer {
    background-color: #374697;
    color: white;
    padding: 50px 0 20px;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.footer-section h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Quick Links */
.quick-links ul {
    list-style: none;
}

.quick-links li {
    margin-bottom: 15px;
}

.quick-links a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.quick-links a:before {
    content: '›';
    margin-right: 10px;
    font-size: 20px;
}

/* Contact */
.contact-info div {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.contact-info i {
    margin-right: 10px;
}

.social-icons {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.social-icons a {
    font-size: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
}

/* Gallery */
.gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.gallery-item img {
    width: 100%;
    height: 80px;
    object-fit: cover;
    border-radius: 5px;
}

/* Newsletter */
.newsletter input {
    width: 90%;
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #00529b;
    border-radius: 5px;
    color: #666;
}

.newsletter button {
    background-color: #00bcd4;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 5px;
    cursor: pointer;
    float: right;
}

/* Footer Bottom */
.footer-bottom {
    max-width: 1200px;
    margin: 40px auto 0;
    padding: 20px 20px 0;
    border-top: 1px solid rgba(255,255,255,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-bottom a {
    color: white;
    text-decoration: none;
}

.bottom-links {
    display: flex;
    gap: 20px;
    padding-right: 100px;
}

.scroll-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #00bcd4;
    color: white;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .footer-content {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .footer-content {
        grid-template-columns: 1fr;
    }

    .footer-bottom {
        flex-direction: column;
        text-align: center;
        gap: 15px;
    }
}



/* Media Queries for Responsive Design */
@media (max-width: 768px) {

    .nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu ul {
        flex-direction: row-reverse;
        gap: 10px;
    }

    .menu ul li {
        display: none;
    }

    .menu ul li a {
        padding: 10px;
    }
    .logo-area .log-cont h1 {
        font-size: 1.2rem;
    }

    .banner-text h1 {
        font-size: 2rem;
    }

    .banner-text p {
        font-size: 1rem;
    }

    .btn {
        padding: 8px 16px;
    }
}

@keyframes carousel {
    0% { background: url('gate.jpeg') no-repeat center center/cover; }
    33% { background: url('competentlogo.jpeg') no-repeat center center/cover; }
    66% { background: url('microscope.jpg') no-repeat center center/cover; }
    100% { background: url('gate.jpeg') no-repeat center center/cover; }
}

/*admission form css*/

.admission-page{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f9;
    padding: 20px;
    margin-top: 150px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
    min-height: 100vh;
    
}
.admission-form{
    background-color: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    width: 100%;

}
.admission-form h2{
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}
.admission-form fieldset{
    margin-bottom: 15px;


}
.admission-form legend{
    font-weight: bold;
    margin-bottom: 10px;
    color: #555;
}
.admission-form label{
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #555;
}
.admission-form input, .admission-form select{
    width: 70%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;

}
.admission-form button{
    width: 50%;
    padding: 10px;
    background-color: #00bcd4;
    color: whitesmoke;
    border-radius: 8px;
    font-size: 16px;
    border: none;

}
.admission-form button:hover{
    background-color: #00529b;
    border: none;
}

/*css about events and blogs*/
.blog-section{
    width: 95%;

}
.blog-section .section-content-blog{
    width: 85%;
    margin: 20px auto;

}
.blog-section .section-content-blog .cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    margin: 25px auto;

}
.blog-section .section-content-blog .cards .card{
    width: 100%;
    background-color: hsl(203, 82%, 96%);
    position: relative;
   
   
    


}
.blog-section .section-content-blog .cards .card img{
    width: 100%;
    height: auto;

}
.blog-section .section-content-blog .cards .card .article{
    padding: 15px 20px;
}
.blog-section .section-content-blog .cards .card .article h4{
    font-size: 24px;
    color: #4a4a4a;
    
}
.blog-section .section-content-blog .cards .card .article p{
    font-size: 15px;
    margin: 10px 0px;
    color: #6a6a6a;
    
}
.blog-section .section-content-blog .cards .card a{
    text-decoration: none;
    display: inline-block;
    background-color: #25c5c5;
    padding: 3px 3px;
    margin-left: 20px ;
    color: white;
    border-radius: 3px;
}
.blog-section .section-content-blog .cards .card .posted-date{
    font-weight: 600;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    background-color: #25c5c5;
    padding: 2px 7px;
    
}
@media screen and (max-width: 768px){
    .blog-section .section-content-blog .cards{
        
        grid-template-columns: 1fr;
        
    }    
}







