body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 5px;
    padding: 3px;
    min-height: 100vh;
}

/*header {
    background-color: #2f3b81;
    color: white;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}
*/
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    color: #1968df;
    box-shadow: 3px 3px 5px rgba(0, 0.1, 0.2, 0.4);
    

   
    padding: 20px 0;
    background: rgb(248, 244, 244);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.nav-bar {
    display: flex;
    align-items: center;
}
.nav-links{
    display: none;
}

.logo-area {
    display: flex;
    align-items: center;
}

.logo-area .logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.logo-area .log-cont h1 {
    margin: 0;
    font-size: 1.5rem;
}

.logo-area .log-cont p {
    margin: 0;
    font-size: 1rem;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
}

.menu ul li {
    display: inline;
}

.menu ul li a {
    color: #1968df;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-weight: bolder;
}

.menu ul li a:hover {
    background-color: #4a63ee;
    color: antiquewhite;
    cursor: pointer;
}

main{
    padding: 100px 20px 20px; /* Adjust padding to account for fixed header */
   

    
}
.menu-icon {
    display: none; /* Hide by default */
}

/* Show the menu icon on smaller screens */
@media (max-width: 768px) {
    .menu-icon {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }

    .menu-icon span {
        display: block;
        width: 100%;
        height: 4px;
        background-color: #000; /* Adjust color as needed */
    }

    .nav-links {
        display: none; /* Hide nav links by default on smaller screens */
    }

    .nav-links.open {
        display: block;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        gap: 100px;
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
    }
    .nav-links.open li a:hover{
        background-color: #00529b;
        color: whitesmoke;
        border-radius: 5px;
        padding-left: 10px 10px;
    }
    .nav-links{
        color: #1968df;
       
        border-radius: 5px;
        transition: background-color 0.3s;
        font-weight: bolder;
        list-style: none;
        
    }
    .nav-links li a{
        text-decoration: none;
        color: #1968df;
        padding: 5%;
       
    
    }
    .nav-links ul li a:hover {
        background-color: #4a63ee;
        color: antiquewhite;
        cursor: pointer;
    }
}


/*css about events and blogs*/
.blog-section{
    width: 95%;

}
.blog-section .section-content-blog{
    width: 85%;
    margin: 20px auto;

}
.blog-section .section-content-blog .cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    margin: 25px auto;

}
.blog-section .section-content-blog .cards .card{
    width: 100%;
    background-color: hsl(203, 82%, 96%);
    position: relative;
   
   
    


}
.blog-section .section-content-blog .cards .card img{
    width: 100%;
    height: auto;

}
.blog-section .section-content-blog .cards .card .article{
    padding: 15px 20px;
}
.blog-section .section-content-blog .cards .card .article h4{
    font-size: 24px;
    color: #4a4a4a;
    
}
.blog-section .section-content-blog .cards .card .article p{
    font-size: 15px;
    margin: 10px 0px;
    color: #6a6a6a;
    
}
.blog-section .section-content-blog .cards .card a{
    text-decoration: none;
    display: inline-block;
    background-color: #25c5c5;
    padding: 3px 3px;
    margin-left: 20px ;
    color: white;
    border-radius: 3px;
}
.blog-section .section-content-blog .cards .card .posted-date{
    font-weight: 600;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    background-color: #25c5c5;
    padding: 2px 7px;
    
}
@media screen and (max-width: 768px){
    .blog-section .section-content-blog .cards{
        
        grid-template-columns: 1fr;
        
    }    
}
